discovery.process "all" {
refresh_interval = "1s"
  discover_config {
    cwd = true
    exe = true
    commandline = true
    username = true
    uid = true
    cgroup_path = true
    container_id = true
  }
}

pyroscope.ebpf "instance" {
collect_kernel_profile = true
 forward_to     = [pyroscope.write.endpoint.receiver]
 targets = discovery.process.all.targets
}

pyroscope.scrape "local" {
  forward_to     = [pyroscope.write.endpoint.receiver]
  targets    = [
    {"__address__" = "localhost:12345", "service_name"="grafana/alloy"},
  ]
}

pyroscope.write "endpoint" {
 endpoint {
  url = "http://ws.vorbster.guru:4040"
 }
 external_labels = {
  "env"      = "prod",
  "instance" = env("HOSTNAME"),
  "hostname" = env("HOSTNAME"),
 }
}
